nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 50%;
}

.selectFilters {
    width: 100%;
}

.selectFilters select {
    display: inline-block;
    width: 50%;
    padding: auto;
}